{% extends 'menu/base.html' %}
{% block content %}
<h2>Meals Menu</h2>
<form method="GET">
    <input type="text"
           name="q"
           placeholder="Search meal">
    <button type="submit">
        Search
    </button>
</form>
<br>
<table border="1">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Details</th>
    </tr>
    {% for meal in meals %}
    <tr>
        <td>
            <img src="{{ meal.image }}"
                 width="100">
        </td>
        <td>{{ meal.name }}</td>
        <td>{{ meal.price }} SR</td>
        <td>{{ meal.category }}</td>
        <td>
            <a href="{% url 'meal_detail' meal.id %}">
                View
            </a>
        </td>
    </tr>
    {% endfor %}</table>
{% endblock %}